<div class='form-content'>
	<form class='pin-form'>
		<div class='form-group'>
			<label>URL</label>
			<input type='text' name='pins[url]' class="form-control"
			 value="<%= pin.escape('url') %>">
		</div>

		<div class='form-group'>
			<label>Image URL</label>
			<input type='text' name='pins[image_url]' class="form-control"
			 value="<%= pin.escape('image_url') %>">
		</div>

		<div class='form-group'>
			<button class='btn btn-primary'>Next</button>
		</div>
	</form>
</div>