<div class='card'>
	<img src=" <%= pin.escape('image_url') %> ">
	<div class="from">
		Pinned from: 
		<a href="<%= pin.escape('url') %>" class="short">
			<%= pin.escape('url') %>
		</a>
	</from>
</div>
