<div class='form-content'>
	<form class='url-form'>
		<div class='form-group'>
			<label>Choose the URL you wish to Pin from:</label>
			<input type='text' 
						 name='url' 
						 class='form-control'
						 placeholder='http://www.cuteoverload.com'>
			</input>
		</div>

		<div class='form-group'>
			<button class='btn btn-primary'>Search</button>
		</div>

		<div class='sel-msg'>Select an image when you are ready!</div>
		<div class="picture-selector"></div>

	</form>
</div>