<div class="avatar"></div>
<div class="user-controls">
	<% if (Pinly.CURRENT_USER.username == user.escape('username')) { %>
		<button class='btn btn-danger edit-profile'>Edit Profie</button>
		<button class='btn btn-danger sign-out'>Sign Out</button>
	<% } %>
</div>

<h3> <%= user.escape('fname') %> <%= user.escape('lname') %> </h3>
<p>  <%= user.escape('description') %> </p>
<div class="boards-list"></div>
