/* Styling for Large Individual Card Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66,66,66,0.7);
  z-index: 1000;
}

.big-card-wrapper {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -250px;
  width: 100%;
  z-index:1001;
}

.big-card {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 20px;
  z-index:1002;
}

.big-card .left {
  position: relative;
  float:left;
  width:500px;
  height:500px;
  background-color: #1e1c1c;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.big-card .left img {
  position: absolute;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  border-radius: 20px;
}

.big-card .right {
  position: relative;
  display: block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: left;
  width: 300px;
  height: 500px;
  padding: 10px;
  overflow: auto;
  background-color: #fff;
}

.big-card .right .right-container{
  height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.noscroll {
  overflow: hidden;
}

/* Styling for Upload Modals */

.modal-upload {
	width: 400px;
	height: 475px;
}

.modal-url {
  width: 400px;
  height: 475px;
}

.modal-board {
	width: 400px;
	height: 250px;
}

/* Centers all Modal Dialog Boxes Dynamically */

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
} 
