.notifications-wrapper {
	width: 367;
	height: 415px;
	padding: 0 0 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.notifications {
	width: 367px;
	height: 415px;
	padding: 0 0 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style-type: none;
}

.notifications li {
	border-bottom: 1px solid #e7e7e7;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
}

.notifications li:hover {
	background-color: #e7e7e7;
	color: #333;
}

.notifications li img {
	margin: 0;
	padding: 0;
	border-radius: 50%;
}

h4 {
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 367px;
	text-align: center;
	color: #999999;
	border-bottom: 1px solid #e7e7e7;
}