.file-drop {
	width: 100%;
	height: 250px;
	color: #ccc;

	border-width: 2px;
  border-style: dashed;
  border-color: #ccc;
  
  line-height: 250px;
  text-align: center;
  overflow: hidden;
}

.file-drop img {
	display: block;
	margin: 0 auto;
	max-width: 368px;
	max-height: 250px;
}

.upload-button {
	width: 150px;	
	height: 33px;
}

.btn-uploaded {
	background-color: #B4EC84;
	color: #FFF;
}

.filename {
	float: right;
	width: 210px;
	height: 32px;
	line-height: 32px;
	overflow: scroll;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	border-color: #ccc;
	padding-left: 10px;
}

.picture-selector {
	width: 100%;
	height: 300px;
	overflow: scroll;

	border-width: 2px;
  border-style: dashed;
  border-color: #ccc;

  padding: 5px;
}

.picture-selector img {
	margin-right: 5px;
	margin-bottom: 5px;
}

.picture-selector img:hover {
	background-color: red;
	opacity: .5;
	z-index: 10;
}

.sel-msg {
	width: 100%;
	text-align: center;
}
