.cloudinary_fileupload {
	width: 100%;
	height: 250px;
	text-align: center;
}

.file-drop input {
	opacity: 0;
}

.file-drop {
	position: relative;
	width: 100%;
	height: 250px;
	color: #ccc;

	border-width: 2px;
  border-style: dashed;
  border-color: #ccc;
  
  text-align: center;
  overflow: hidden;
}

.progress-bar {
	background: #3498db;
}

.picture-selector {
	width: 100%;
	height: 295px;
	overflow: scroll;

	border-width: 2px;
  border-style: dashed;
  border-color: #ccc;

  padding: 5px;
}

.picture-selector img {
	margin-right: 5px;
	margin-bottom: 5px;
}

.picture-selector img:hover {
	background-color: red;
	opacity: .5;
	z-index: 10;
}

.sel-msg {
	width: 100%;
	text-align: center;
}
