.users-show h3 {
	text-transform: capitalize;
}

.board-item-wrapper {
	width: 250px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

.board-item-wrapper .follow-board-item {
	width: 250px;
}

.boards-item {
	padding: 10px;
	width: 250px;
	height: 250px;
	background-color: #cdcdcd;

	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 20px;
	font-weight: bold;
	color: #BD362F;
	line-height: 1em;
}

.boards-item p {
	width: 150px;
}

.boards-item button {
	float: right;
	margin-left: 2px;
}