<ul class='drop-up'>
	<li class="top"> Thanks for using Pinly</li>
	<li class="new-upload-pin">Upload a File</li>
	<li class="new-website-pin">Pin from a Website</li>
	<li class="bottom new-board">Create a Board</li>
</ul>