<ul class='drop-up'>
	<li class="top"> What would you like to do?</li>
	<li class="new-upload-pin">Upload a File</li>
	<li class="new-website-pin">Pin from a Website</li>
	<li class="bottom new-board">Create a Board</li>
	<span class='drop-tip'></span>
</ul>
